@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-secundaria:  #464646;
    --font: 'Montserrat', sans-serif;
    --tamanho-de-margem-container: 32px;
    --tamanho-de-margem-interna: 16px;
    --tamanho-font-principal: 32px;
    --tamanho-font-secundaria: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body { 
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    line-height: 1;
}


.all {    
    max-width: 1136px; 
    width: 100%; 
    margin: auto; 
}

/* CABEÇALHO */
.menu{    
    display: flex;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between; 
    height: 100%;  
    margin-bottom: var(--tamanho-de-margem-container);    
      
}

.menu__title{
    display: flex;
    align-items: center;
}

.menu__title img {
    width: 24px;
    height: 24px;
    margin-right: 8px; 
}

.menu__list{
    display: flex;
    align-items: center;
    
}

.menu__navegacao ul {
    margin-right: auto;
    display: flex;
}

.menu__navegacao li {
     display: inline-block;
     margin-left: 32px;
}



.menu__navegacao a {
    text-decoration: none;
    color: var(--cor-de-link); 
    font-size: var(--tamanho-font-secundaria); 
    font-weight: 500;
    transition: color 0.3s; 
}
.menu__navegacao a:hover {
    color: #afafaf; 
}

/* Estilos para a seção do título */
.title {
    display: flex;
    align-items: center;

    
}

.title__div {
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: var(--tamanho-de-margem-container);
    
}


.title__profile{
    
}

.title__container{
    width: 66.1%;
}

.title__bio {
    font-size: 52px;
    font-weight: bold;
    margin-left: auto;
    color: var(--cor-secundaria);
    margin-bottom: 24px;
    
}

.title__subsection {
    font-size: 22px; /* Tamanho do texto da subseção */
    color: var(--cor-secundaria); 
    margin-bottom: 24px;
}

.title__network {
    display: flex;    
    padding: 0;
}

.title__network__item {
    margin-right: 32px;
}

.title__network__item a {
    text-decoration: none;
    color: var(--cor-secundaria); 
    font-size: var(--tamanho-font-secundaria);
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.title__network__item a:hover{
    color: #afafaf; 
}

.title__network__item img {
    margin-left: 5px; /* Espaçamento entre o texto e o ícone */
}

.title__image img {
    width: 368px;
}

/* SOBRE MIM */
.about{
    padding: 64px 0;
    width: 66.1%;
    margin-bottom: var(--tamanho-de-margem-container)
}


.about__title{
    font-size: var(--tamanho-font-principal);
    font-weight: 600;
    margin-bottom: var(--tamanho-de-margem-interna);
    
}

.about__paragraph{
    font-size:var(--tamanho-font-secundaria);
}

.skills,
.hobbies{
    margin-bottom: 88px;
   
}


.skills__title,
.hobbies__title,
.academic__title{
    font-size: var(--tamanho-font-principal);
    text-align: center;
    margin-bottom: var(--tamanho-font-principal);
}

.skills__line,
.hobbies__line{
    height: 174px;
    display: flex;
    justify-content: space-around;
    
}

.skills__name,
.hobbies__name{
    font-size: var(--tamanho-font-secundaria);
    font-weight: 600;  
    
}

.skills__box,
.hobbies__box{
    height: 100%;
    width: 176px;
    padding: 16px;
    background-color: aqua;
}


.skills__box ul,
.hobbies__box ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.academic{
    padding: 82px 0;
} 

.academic__courses{
    display: flex;
    justify-content: space-around;
    height: 347px;
    align-items: flex-end;
}

.academic__courses__box{

}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.academic__courses__item__title{
    font-size: 22px;
    font-weight: 600;
}

.academic__courses__item__subtitle{
    font-size: var(--tamanho-font-secundaria);
}


/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!

https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{

}

/*Sessão Title*/

section.title{

}

/*Sessão About*/

section.about{

}

/*Sessão Hobbies*/

section.hobbies{
}

/* Experiência Acadêmica*/


/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
