@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --font: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* CABEÇALHO */
.menu{
    display: flex;
    padding: 32px 0 32px 0;
    align-items: center;
    justify-content: space-between;       
            
}

.menu__title{
    display: flex;
    align-items: center;
}

.menu__title img {
    width: 24px;
    height: 24px;
    margin-right: 8px; 
}

.menu__list{
    display: flex;
    align-items: center;
    
}

.menu__navegacao ul {
    list-style-type: none;
    margin-right: auto;
    display: flex;
}

.menu__navegacao li {
    align-self: center; 
}

.menu__list li:nth-child(1),
.menu__list li:nth-child(2),
.menu__list li:nth-child(3),
.menu__list li:nth-child(4),
.menu__list li:nth-child(5){
    margin-right: 32px;
}

.menu__navegacao a {
    text-decoration: none;
    color: var(--cor-de-link); 
    font-size: 16px; 
    font-weight: 500;
    transition: color 0.3s; 
}
.menu__navegacao a:hover {
    color: #afafaf; 
}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}


/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{

}

/*Sessão Title*/

section.title{

}

/*Sessão About*/

section.about{

}

/*Sessão Hobbies*/

section.hobbies{
    
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
